@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-sage: #d8e2dc;
  --color-peach: #ffe5d9;
  --color-blush: #ffcad4;
  --color-rose: #f4acb7;
  --color-mauve: #9d8189;
  --color-cream: #faf9f7;
  --color-charcoal: #2a2a2a;
}

@keyframes revealUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes revealLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-reveal-up {
  animation-name: revealUp;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animate-reveal-left {
  animation-name: revealLeft;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animate-slide-up {
  animation: 0.3s slide-down 0.3s ease-out forwards;
}

.navlink {
  @apply block px-5 py-3 rounded-sm hover:bg-rose/40;
}

.debuging {
  outline: 1px solid red;
}
